.signUpcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1e1e1e;
}

.SignUpform {
  display: flex;
  flex-direction: row; /* Change to row for horizontal layout */
  align-items: center;
  width: 40%;
}

.signUpInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 90%; /* Set the width to 70% */
  margin-right: 10px; /* Space between input and button */
}
.signUpInput:focus {
  outline: none;
  border-color: #2c2c2c;
}

.submitButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2c2c2c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #2c2c2c;
}
