.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 476px;
  flex-direction: column;
  background-color: white;
  text-align: center;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 80px;
}
.heroTitle {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #0c0c0d;
  text-align: center;
  line-height: 86.4px;
  letter-spacing: -3%;
}
.heroSubtitle {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #0c0c0d;
  text-align: center;
  padding-top: 20px;
  line-height: 38.4px;
}
