.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 99px;
}
.logo {
  flex-grow: 1;
}
.nav {
  display: flex;
  gap: 20px;
}
.link {
  text-decoration: none;
  color: #1e1e1e;
  font-size: 16px;
}
