.footer {
  width: 100%;
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  border-top: 1px solid #d9d9d9;
  height: 200px;
}

.footerContent {
  width: 100%;
  /* max-width: 1200px; */
  padding-left: 1%;
  padding-right: 8%;
  display: flex;
  justify-content: space-between;
}

.footerIcons {
  display: flex;
  gap: 15px;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerLinks a {
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
}

.footerLinks a:hover {
  text-decoration: underline;
}

.footer-links {
  font-size: 20px;
  line-height: 24px;
  color: #1e1e1e;
  margin-bottom: 15px;
}
